@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/* font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000000b4; */

.booknow-page{
  padding: 50px 120px 50px 120px;
}

  /* Image caroesal */

  * {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .booknow-image ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .booknow-image li {
    padding: 0;
  }
  
  .booknow-image img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
  }
  
  .booknow-image ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
  }
  
  :root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
  }
  
  .booknow-image a {
    outline-offset: 4px;
  }
  
  .booknow-image li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
  }
  
  .booknow-image li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
  }
  .booknow-image li:has( + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
  }
  .booknow-image li:has( + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
  }
  li:has( + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
  }
  li:has( + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
  }
  li:has( + li + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li + li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
  }
  li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li + li + li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
  }
  

/* first line */

.booknow-image{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booknow-form{
  box-shadow: 0px 0px 50px gray;
  padding: 25px;
  border-radius: 12px;
}

.booknow-image img{
  width: 100%;
  height: 250px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px gray;
  margin-top: 15px;
} 

.first-line label{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000000b4;
  margin: 15px;
}

.first-line input{
  width: 100%;
  padding: 12px;
}

/* second line */

.second-line label{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000000b4;
  margin: 15px;
}

.second-line input{
  width: 100%;
  padding: 12px;
}

.second-line select{
  width: 100%;
  padding: 12px;
  color: gray;
}

.second-line option{
  color: #000000b4;
}

/* third line styles */

.third-line label{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000000b4;
  margin: 15px; 
}

.third-line input{
  width: 100%;
  padding: 12px;
  color: gray;
}

/* last line styles */

.last-line label{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000000b4;
  margin: 15px; 
}

.last-line input{
  width: 100%;
  padding: 12px;
}

.last-line textarea{
  width: 100%;
  padding: 12px;
}

/* submit button */

.submit-button button{
  background-color: #000000;
  color: #fff;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 2px 2px 2px #00000075;
}